<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="dgKeyframe2Chapter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <dgKeyframe2Chapter.Properties.Settings>
            <setting name="savefolder" serializeAs="String">
                <value />
            </setting>
            <setting name="chapterinspection" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="sound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="round" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="fps" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="avant" serializeAs="String">
                <value>True</value>
            </setting>
        </dgKeyframe2Chapter.Properties.Settings>
    </userSettings>
</configuration>